<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
    <title>CRUD</title>
</head>
<body>    
      </nav>            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              </li>                            
            </ul>            
          </div>
        </div>
      </nav>
      <% if (prod) { %>
        <div class="container mb-4 mt-4">          
            <div class="card border-secondary">  
                  <div class="card-header">Editar Registro</div>
                  <div class="card-body">
                      <form action="/update" method="POST" enctype="multipart/form-data">
                          <input id="idpaciente" name="idpaciente" value="<%= prod.idpaciente %>" hidden>
                          <div class="mb-3">
                            <label for="prod" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" id="nombre" name="apellidos" tabindex="1" value="<%= prod.apellidos  %>">                        
                          </div>   
                          <div class="mb-3">
                            <label for="prod" class="form-label">Nombres</label>
                            <input type="text" class="form-control" id="nombres" name="nombres" tabindex="1" value="<%= prod.nombres  %>"> 
                          </div>                                        
                          <div class="mb-3">
                            <select class="form-select" id="sexo" name="sexo" tabindex="1" value="<%= prod.sexo  %>">
                              <option value="Masculino">Masculino</option>
                              <option value="Femenino">Femenino</option>
                              <option value="No identificado">No identificado</option>
                            </select>
                          </div> 
                          <div class="mb-3">
                            <label for="prod" class="form-label">Especialidad</label> 
                            <select class="form-select" id="especialidad" name="especialidad" tabindex="1" value="<%= prod.especialidad  %>">
                              <option value="Cardiologia">Cardiologia</option>
                              <option value="Neurologia">Neurologia</option>
                              <option value="Ginecologia">Ginecologia</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label for="prod" class="form-label">Imagen</label>
                            <input type="file" class="form-control" id="imagen" name="imagen" tabindex="1">
                            <br>
                            <img src="/<%= prod.imagen %>" alt="imagen" width="500" height="auto">
                          </div>                  
                          <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                          <a href="/" class="btn btn-secondary">Cancelar</a> 
                      </form>      
                  </div>
              </div>     
        </div>
        <% } %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>